RewriteEngine On

RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]  
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]  
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})  
RewriteRule ^(.*)$ index.php [F,L] 

RewriteCond %{QUERY_STRING} union [NC,OR]
RewriteCond %{QUERY_STRING} select [NC,OR]
RewriteCond %{QUERY_STRING} cast [NC,OR]
RewriteCond %{QUERY_STRING} declare [NC,OR]
RewriteCond %{QUERY_STRING} drop [NC,OR]
RewriteCond %{QUERY_STRING} md5 [NC,OR]
RewriteCond %{QUERY_STRING} benchmark [NC,OR]
RewriteCond %{QUERY_STRING} table [NC,OR]
RewriteCond %{QUERY_STRING} column [NC,OR]
RewriteCond %{QUERY_STRING} distinct [NC,OR]
RewriteCond %{QUERY_STRING} substr [NC,OR]
RewriteCond %{QUERY_STRING} concat [NC,OR]
RewriteCond %{QUERY_STRING} schema [NC,OR]
RewriteCond %{QUERY_STRING} hex [NC,OR]
RewriteCond %{QUERY_STRING} truncate [NC,OR]
RewriteCond %{QUERY_STRING} convert [NC,OR]
RewriteCond %{QUERY_STRING} exec [NC,OR]
RewriteCond %{QUERY_STRING} passthru [NC,OR]
RewriteCond %{QUERY_STRING} system [NC,OR]
RewriteCond %{QUERY_STRING} popen [NC,OR]
RewriteCond %{QUERY_STRING} proc [NC,OR]
RewriteCond %{QUERY_STRING} load [NC,OR]
RewriteCond %{QUERY_STRING} between [NC,OR]
RewriteCond %{QUERY_STRING} null [NC,OR]
RewriteCond %{QUERY_STRING} delay [NC,OR]
RewriteCond %{QUERY_STRING} char [NC,OR]
RewriteCond %{QUERY_STRING} sleep [NC,OR]
RewriteCond %{QUERY_STRING} schema [NC,OR]
RewriteCond %{QUERY_STRING} unhex [NC]
RewriteCond %{QUERY_STRING} %00 [OR]
RewriteCond %{QUERY_STRING} %0A [NC,OR]
RewriteCond %{QUERY_STRING} %0D [NC,OR]
RewriteCond %{QUERY_STRING} %21 [OR]
RewriteCond %{QUERY_STRING} %22 [OR]
RewriteCond %{QUERY_STRING} %23 [OR]
RewriteCond %{QUERY_STRING} %24 [OR]
RewriteCond %{QUERY_STRING} %25 [OR]
RewriteCond %{QUERY_STRING} %27 [OR]
RewriteCond %{QUERY_STRING} %28 [OR]
RewriteCond %{QUERY_STRING} %29 [OR]
RewriteCond %{QUERY_STRING} %40 [OR]
RewriteCond %{QUERY_STRING} %60 [OR]
RewriteCond %{QUERY_STRING} %2A [NC,OR]
RewriteCond %{QUERY_STRING} %2B [NC,OR]
RewriteCond %{QUERY_STRING} %2C [NC,OR]
RewriteCond %{QUERY_STRING} %2D [NC,OR]
RewriteCond %{QUERY_STRING} %3B [NC,OR]
RewriteCond %{QUERY_STRING} %3C [NC,OR]
RewriteCond %{QUERY_STRING} %3E [NC,OR]
RewriteCond %{QUERY_STRING} %5B [NC,OR]
RewriteCond %{QUERY_STRING} %5C [NC,OR]
RewriteCond %{QUERY_STRING} %5D [NC,OR]
RewriteCond %{QUERY_STRING} %5E [NC,OR]
RewriteCond %{QUERY_STRING} %5F [NC,OR]
RewriteCond %{QUERY_STRING} %7B [NC,OR]
RewriteCond %{QUERY_STRING} %7C [NC,OR]
RewriteCond %{QUERY_STRING} %7D [NC,OR]
RewriteCond %{QUERY_STRING} %7E [NC,OR]
RewriteCond %{QUERY_STRING} > [OR]
RewriteCond %{QUERY_STRING} < [OR]
RewriteCond %{QUERY_STRING} sanitize [NC,OR]
RewriteCond %{QUERY_STRING} eval [NC,OR]
RewriteCond %{QUERY_STRING} base64 [NC,OR]
RewriteCond %{QUERY_STRING} echo [NC,OR]
RewriteCond %{QUERY_STRING} @set [NC,OR]
RewriteCond %{QUERY_STRING} @ini [NC,OR]
RewriteCond %{QUERY_STRING} dirname [NC,OR]
RewriteCond %{QUERY_STRING} decode [NC]

RewriteRule ^(.*)$ /index.php/ [NC,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#sub dir without
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
